<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <springProfile name="test,dev">
        <property name="dev-FILE_LOG_PATTERN"
                  value="%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName %5p --- [%t] %-40.40logger{39} : %m%n%wEx"/>
        <property name="dev-FILE_PATH" value="/data/logs/wp-ibitauto-ticketbargin/log.log"/>

        <appender name="dev-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>${dev-FILE_LOG_PATTERN}</pattern>
            </encoder>
            <file>${dev-FILE_PATH}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${dev-FILE_PATH}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="dev-FILE"/>
        </root>
    </springProfile>
</configuration>