<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>录入信息</title>
    <link href="/css/css.css" rel="stylesheet" type="text/css" />
    <link href="/css/cityLayout.css"  rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/dialog.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/cityselect.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/dialog.css">
</head>
<body>
<div class="app-init">
    <div class="app-init home-index">
        <p class="top-text">为保证极速审核通过，请仔细填写哦！</p>
        <div class="main clear">
            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name"><span >*</span>姓名</div>
                </div>
                <div class="yd-cell-right le">
                    <input  type="text" id="name" placeholder="请输入姓名" >
                </div>
                <div class="clr"></div>
            </div>

            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name"><span >*</span>姓名</div>
                </div>
                <div class="yd-cell-right le">
                    <p th:text="${phoneNumber}">未能获取手机号</p>
                </div>
                <input th:type="hidden" th:value="${phoneNumber}" id="phoneNumber" />
                <div class="clr"></div>
            </div>

            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name">职业</div>
                </div>
                <div class="yd-cell-right le">
                    <input  type="text" id="job" placeholder="请输入职业" >
                </div>
                <div class="clr"></div>
            </div>
            <div class="yd-cell-item">
                <div class="yd-cell-left le">
                    <span class="yd-cell-icon"></span>
                    <div class="left-name">
                        <span>*</span>身份证号码
                    </div>
                </div>
                <div class="yd-cell-right le">
                    <input type="text" id="idCode" placeholder="请输入身份证号码" />
                </div>
                <div class="clr"></div>
            </div>
            <div class="yd-cell-item">
                <div class="yd-cell-left le">
                    <span class="yd-cell-icon"></span>
                    <div class="left-name">
                        <span>*</span>芝麻积分
                    </div>
                </div>
                <div class="yd-cell-right le">
                    <input type="text" id="creaditScore" placeholder="请输入芝麻分" />
                </div>
                <div class="clr"></div>
            </div>

            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name">联系人</div>
                </div>
            </div>

            <div class="yd-cell-item">
                <div class="yd-cell-left le">
                    <span class="yd-cell-icon"></span>
                    <div class="left-name">
                        <span>*</span>关系
                    </div>
                </div>
                <div class="yd-cell-right le">

                    <select id="relativeType">
                        <option value="父母">父母</option>
                        <option value="子女">子女</option>
                        <option value="兄弟">兄弟</option>
                        <option value="朋友">朋友</option>
                    </select>
                </div>
                <div class="clr"></div>
            </div>
            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name"><span >*</span>姓名</div>
                </div>
                <div class="yd-cell-right le">
                    <input  type="text" id="relativeName" placeholder="请输入姓名" >
                </div>
                <div class="clr"></div>
            </div>
            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name"><span >*</span>联系人手机号</div>
                </div>
                <div class="yd-cell-right le">
                    <input  type="text" id="relativePhone" placeholder="请输入该人手机号" >
                </div>
                <div class="clr"></div>
            </div>

            <div class="main clear"></div>

        </div>
        <div class="btn-submit" onclick="submit()">
            下一步
        </div>
    </div>
</div>
<script type="text/javascript">
    var $token;
    var $telephone;
    $(function(){
        init_city_select($("#location"));
       // validate();
        initData();
    })
    function validate(){
        var _token=localStorage.getItem("token");
        //var _telephone=localStorage.getItem("telephone");
        $token=_token;
        $telephone=_telephone;
        if(!_token){
            window.location.href="login_simple.html";
        }
    }
    function submit(){
        var _name=$("#name").val();
        var _job=$("#job").val();
        var _idCode=$("#idCode").val();
        var _creaditScore=$("#creaditScore").val();
        var _relativeType=$("#relativeType").val();
        var _relativeName=$("#relativeName").val();
        var _relativePhone=$("#relativePhone").val();
        var _phoneNumber=$("#phoneNumber").val();
        var _request={
            "name":_name,
            "job":_job,
            "idCode":_idCode,
            "creaditScore":_creaditScore,
            "relativeType":_relativeType,
            "relativeName":_relativeName,
            "relativePhone":_relativePhone,
            "phoneNumber":_phoneNumber
        }

        if(!_name)
        {
            $MessageBox.fail("提示","请输入您的名字");
            return false;
        }

        var regIdNo = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        if(!_idCode||!regIdNo.test(_idCode))
        {
            $MessageBox.fail("提示","请输入正确的身份证号");
            return false;
        }
        if(!_creaditScore)
        {
            $MessageBox.fail("提示","请输入您的芝麻分");
            return false;
        }

        if(!_relativeName)
        {
            $MessageBox.fail("提示","请输入您的关系人的姓名");
            return false;
        }
        if(!_relativePhone)
        {
            $MessageBox.fail("提示","请输入您的关系人的手机号");
            return false;
        }

        $.ajax({
            url: "/client/api/update",
            type: "post",
            data: JSON.stringify(_request),
            headers: {
                token: $token
            },
            contentType: "application/json",
            success: function (result) {
                if(result.code===0){
                    $MessageBox.fail("提示","申请成功，请稍后...");
                    //window.location.href="index";
                    location.reload();
                }
            },
            fail: function (result) {
                console.log(result);
            }

        });
    }
    function initData(){
        // $.get("https://program.passlight.cn/infomation/bussiness/lender/info/"+$telephone,function(result,status){
        //     if(result.code===0){
        //         $("#name").val(result.lender.lenderName);
        //         $("#identityId").val(result.lender.identityId);
        //         $("#creditNumber").val(result.lender.creditNumber);
        //         $("#age").val(result.lender.age);
        //     }
        // });
    }
</script>
</div>
</body>
</html>