<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>录入信息</title>
    <link href="css/css.css" rel="stylesheet" type="text/css" />
    <link href="css/cityLayout.css"  rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/dialog.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/cityselect.js"></script>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/dialog.css">
</head>
<body>
<div class="app-init">
    <div class="app-init home-index">
        <p class="top-text">为保证极速审核通过，请仔细填写哦！</p>
        <div class="main clear">
            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name"><span >*</span>姓名</div>
                </div>
                <div class="yd-cell-right le">
                    <input  type="text" id="name" placeholder="请输入姓名" >
                </div>
                <div class="clr"></div>
            </div>

            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name">职业</div>
                </div>
                <div class="yd-cell-right le">
                    <input  type="text" id="job" placeholder="请输入职业" >
                </div>
                <div class="clr"></div>
            </div>
            <div class="yd-cell-item">
                <div class="yd-cell-left le">
                    <span class="yd-cell-icon"></span>
                    <div class="left-name">
                        <span>*</span>身份证号码
                    </div>
                </div>
                <div class="yd-cell-right le">
                    <input type="text" id="identityId" placeholder="请输入身份证号码" />
                </div>
                <div class="clr"></div>
            </div>
            <div class="yd-cell-item">
                <div class="yd-cell-left le">
                    <span class="yd-cell-icon"></span>
                    <div class="left-name">
                        <span>*</span>芝麻积分
                    </div>
                </div>
                <div class="yd-cell-right le">
                    <input type="text" id="creditNumber" placeholder="请输入芝麻分" />
                </div>
                <div class="clr"></div>
            </div>
            <!--<div class="yd-cell-item">-->
                <!--<div class="yd-cell-left le">-->
                    <!--<span class="yd-cell-icon"></span>-->
                    <!--<div class="left-name">-->
                        <!--<span>*</span>所在地-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="yd-cell-right le">-->
                    <!--<input name="" id="location"  type="text"  class="city_input" readonly="readonly">-->
                <!--</div>-->
                <!--<div class="clr"></div>-->
            <!--</div>-->

            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name">联系人</div>
                </div>
            </div>

            <div class="yd-cell-item">
                <div class="yd-cell-left le">
                    <span class="yd-cell-icon"></span>
                    <div class="left-name">
                        <span>*</span>关系
                    </div>
                </div>
                <div class="yd-cell-right le">

                    <select>
                        <option>父母</option>
                        <option>子女</option>
                        <option>兄弟</option>
                    </select>
                </div>
                <div class="clr"></div>
            </div>
            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name"><span >*</span>姓名</div>
                </div>
                <div class="yd-cell-right le">
                    <input  type="text" id="name" placeholder="请输入姓名" >
                </div>
                <div class="clr"></div>
            </div>
            <div  class="yd-cell-item">
                <div class="yd-cell-left le"><span class="yd-cell-icon"></span>
                    <div  class="left-name"><span >*</span>联系人手机号</div>
                </div>
                <div class="yd-cell-right le">
                    <input  type="text" id="name" placeholder="请输入该人手机号" >
                </div>
                <div class="clr"></div>
            </div>

            <div class="main clear"></div>

        </div>
        <div class="btn-submit" onclick="submit()">
            下一步
        </div>
    </div>
</div>
<script type="text/javascript">
    var $token;
    var $telephone;
    $(function(){
        init_city_select($("#location"));
       // validate();
        initData();
    })
    function validate(){
        var _token=localStorage.getItem("token");
        var _telephone=localStorage.getItem("telephone");
        $token=_token;
        $telephone=_telephone;
        if(!_token){
            window.location.href="login_simple.html";
        }
    }
    function submit(){
        var _lenderName=$("#name").val();
        var _identityId=$("#identityId").val();
        var _creditNumber=$("#creditNumber").val();
        var _age=$("#age").val();
        var _location =$("#location").val();
        var _request={
            "lenderName":_lenderName,
            "identityId":_identityId,
            "creditNumber":_creditNumber,
            "age":_age,
            "telephone":$telephone,
            "location":_location
        }
        if(!_lenderName){
            $MessageBox.fail("提示","请输入您的姓名");
            return false;
        }
        // if(!_age){
        //     $MessageBox.fail("提示","请输入您的年龄");
        //     return false;
        // }
        // if(!_creditNumber){
        //     $MessageBox.fail("提示","请输入您的芝麻分");
        //     return false;
        // }
        if(!_identityId){
            $MessageBox.fail("提示","请输入您的身份证");
            return false;
        }
        // if(!_location){
        //     $MessageBox.fail("提示","请选择所在地");
        //     return false;
        // }

        if(_age && (_age>42 || _age<23)){
            $MessageBox.fail("提示","年龄不符合要求");
            return false;
        }
        if(_creditNumber<580){
            $MessageBox.fail("提示","芝麻分太低不能注册");
            return false;
        }
        // if(_creditNumber>900){
        //     $MessageBox.fail("提示","请输入正确的芝麻分");
        //     return false;
        // }

        window.location.href="client_request.html";
        $.ajax({
            url: "/client/addinfo",
            type: "post",
            data: JSON.stringify(_request),
            headers: {
                token: $token
            },
            contentType: "application/json",
            success: function (result) {
                if(result.code===0){
                    //window.location.href="https://open.shujumohe.com/box/tb?box_token=DFF80E0DCA53486BB92D7FA123F80206&cb=https://program.passlight.cn/importData/success.html";
                }
            },
            fail: function (result) {
                console.log(result);
            }

        });
    }
    function initData(){
        // $.get("https://program.passlight.cn/infomation/bussiness/lender/info/"+$telephone,function(result,status){
        //     if(result.code===0){
        //         $("#name").val(result.lender.lenderName);
        //         $("#identityId").val(result.lender.identityId);
        //         $("#creditNumber").val(result.lender.creditNumber);
        //         $("#age").val(result.lender.age);
        //     }
        // });
    }
</script>
</div>
</body>
</html>